<div class = "container-lg">

  <h2>Login</h2>

  <div class = "pt-3">

    <%= form_with :url => "/sessions" do |form| %>
      <p>
        <%= form.label "username" %>
        <%= form.text_field "username" %>
        <%= form.label "password" %>
        <%= form.password_field "password" %>
      </p>
      <p>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </p>
    <% end %>

  </div>

</div>