  <div class = "container-lg">
  
    <h2>New Post</h2>
  
    <div class = "pt-3">

      <%= form_with :model => @post do |form| %>
        <%= form.hidden_field "place_id" %>

        <!--
        <div class="mb-3">
          <%= form.label "title", :class => "form-label" %>
          <%= form.file_field "title", :class => "form-control"%>
        </div>
        -->
        
          <label for="title" class="form-label">Post Title</label>
          <input type="text" class="form-control" id="title" name="post[title]">
        </div>

        <div class="mb-3">
          <%= form.label "uploaded_image", :class => "form-label" %>
          <%= form.file_field "uploaded_image", :class => "form-control" %>
        </div>
        
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input type="text" class="form-control" id="description" name="post[description]">
        </div>

        <div class="mb-3">
          <label for="posted_on" class="form-label">Posted On</label>
          <input type="date" class="form-control" id="posted_on" name="post[posted_on]">
        </div>
     
        <p>
          <%= form.hidden_field "user_id" %>
        </p>
        
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>

      <% end %>
      
    </div>

</div>
